﻿body
{
}

.full-page#content .inside-block
{
    margin: 0px auto;
    padding: 0px 10px 20px 20px;
    height: 100%;
    text-align: center;
    color: white;
    overflow: auto;
    display: block;
    box-sizing: content-box;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}

.input-group-addon, .input-group input, .input-group img
{
    float: left;
    height: 30px;
}

.input-group input
{
    border-radius: 0px 4px 4px 0px !important;
    border: 0px currentColor !important;
    color: white !important;
}

.marginTop
{
    margin-top: 10px;
}

.clear
{
    clear: both;
}

.input-group-addon
{
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: none;
    border-radius: 4px 0px 0px 4px;
}

.userName, .password
{
    width: 200px;
}

.txtValidation
{
    width: 110px;
}

#pidcode
{
    background-color: rgba(0, 0, 0, 0.4) !important;
    border: none !important;
    padding: 0px !important;
    border-radius: 0px 4px 4px 0px;
    -webkit-border-radius: 0px 4px 4px 0px;
    -moz-border-radius: 0px 4px 4px 0px;
}

.btn
{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

    .btn, .btn:focus
    {
        background: -webkit-linear-gradient(180deg, rgb(253,218,134) 0, rgb(227,200,31) 100%), rgb(253, 218, 134);
        background: -moz-linear-gradient(180deg, rgb(253,218,134) 0, rgb(227,200,31) 100%), rgb(253, 218, 134);
        background: linear-gradient(180deg, rgb(61, 168, 246) 0, rgb(126, 193, 192) 100%), rgb(253, 218, 134);
        color: #000;
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        min-width: 80px;
        margin-right: 10px;
        margin-top: 10px;
        border: solid 1px #e9bb5e;
    }

    .btn:hover
    {
        background: -webkit-linear-gradient(180deg, rgb(253,218,134) 0, rgb(225,157,60) 100%), rgb(253, 218, 134);
        background: -moz-linear-gradient(180deg, rgb(253,218,134) 0, rgb(225,157,60) 100%), rgb(253, 218, 134);
        background: linear-gradient(180deg, rgb(253,218,134) 0, rgb(225,157,60) 100%), rgb(253, 218, 134);
        background-image:none;
    }

.radio input[type=radio]:checked + label:after
{
    background-color: #2C5C82;
    border: 1px solid #fff;
}

.form-signin .radio label
{
    color: #000 !important;
}


.site-settings
{
    position: fixed;
    right: 0px;
    top: 70px;
    z-index: 10000;
    background: -webkit-gradient(linear, left top, left bottom, from(#35acf4));
    background: -moz-gradient(linear, left top, left bottom, from(#14adaa));
    background-image: linear-gradient(to bottom,#35acf4 0,#266696 100%) !important;
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
}

    .site-settings .site-settings-button
    {
        position: absolute;
        left: -26px;
        top: 5px;
        background: #26adee;
        width: 26px;
        height: 26px;
        padding: 0px;
        text-align: center;
        -moz-border-radius: 5px 0px 0px 5px;
        -webkit-border-radius: 5px 0px 0px 5px;
        border-radius: 5px 0px 0px 5px;
        cursor: pointer;
    }

    .site-settings .site-settings-content
    {
        position: relative;
        width: 285px;
        display: none;
    }

    .site-settings.active .site-settings-content
    {
        display: block;
    }

#content.full-page .inside-block form section.log-in
{
    margin-top: 0px;
    border-top: none !important;
}

.icon-login
{
    background: url(../_images/user_01.png);
    background-repeat: no-repeat;
    background-size: 15px 16px;
    height: 16px;
    width: 15px;
    display: inline-block;
    margin-top: 5px;
    margin-left: 2px;
}

.block .header h2, .block .head h2
{
    font-size: 12px !important;
    color: #000;
    padding: 0px;
    margin: 0px;
    display: block;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
}

.block .header
{
    height: 40px;
    padding: 10px 20px;
}

#content.full-page .inside-block form section.log-in
{
    padding-right: 7px;
}

.radio label
{
    height: 20px;
}
