﻿.ul-pin{
    margin:auto;
    margin-top:10px;        
    width:240px;
    text-align:center;
    padding:0px;

}

.ul-pin li{
    float:left;    
    list-style:none;    
    margin:5px;
}

.ul-pin li a{
    display:table-cell;
    text-decoration:none;
    color:#000;
    width:50px;
    height:50px;
    background-color:#ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius:4px;
    margin:5px;
    font-size:20px;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
}

.txt-pin{
    margin-top:10px !important;
    width:230px;
    margin:auto;
    font-size:20px;
    height:40px;
}

.padding{
    padding:5px;
}

.ul-pin-setup{
    padding:0px;
    color:#000;
    margin-top:10px;
}

.ul-pin-setup li{
    list-style:none;   
}

.li-pin-setup{
   margin-bottom:10px;
}

.pin-btn, .pin-btn:focus
{
    background: #868e96;
    background-color: #868e96;
    border-color: #868e96;
    color: #fff;
    min-width: 80px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius:4px;
    margin-top:10px;
    height:30px;
}

.pin-btn:hover
{
    background: #727b84 !important;
    background-color: #727b84 !important;
    border-color: #6c757d;
}

.ul-pin-setup .form-control {
    border-radius: 0px 4px 4px 0px !important;
    height:30px;
    width:100%;
}