<!DOCTYPE html>
<html>
    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="gfm/github-markdown.css"  media="screen,projection"/>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    
    <body style="width:100%; margin:0;">
        <center><div style="max-width:900px;">
            <header style="margin: 0 20px;">
                <h4><%= heading %></h4>
                <p><%= description %></p>
            </header>
            <div class="z-depth-3 markdown-body" style="text-align:left; padding:20px; overflow:auto;" id="place">
                <%- content %>
            </div>
            <div style="padding:20px; text-align:center;" id="footer">
                <a class="waves-effect waves-dark teal lighten-3 grey-text text-darken-2 btn" id="agree">AGREE</a>
                <a class="waves-effect waves-dark grey lighten-5 grey-text text-darken-2 btn" id="disagree">DISAGREE</a>
            </div>
        </div></center>
        <script type="text/javascript" src="jquery/jquery.min.js"></script>
        <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
        <script>
            $('#agree').on('click',function(){
                $.post( "/api/agree", function() {
                    window.location.reload();
                });
            });
            $('#disagree').on('click',function(){
                $.get( "/api/logout", function() {
                    window.location.reload();
                });
            });
            function _resize(){
                $('#place').css({height:$(window).height()-$('#place').offset().top-$('#footer').outerHeight()});
            }
            $(window).on('resize',_resize);
            _resize();
        </script>
    </body>
</html>