<!DOCTYPE html>
<html lang="en" style="height:100%">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <link rel="manifest" href="/manifest.json">
  <link rel="shortcut icon" href="/favicon.ico">
  <title>Admin App</title>
  <link rel="stylesheet" href="/gfm/github-markdown.css" media="screen,projection"/>
  <link rel="stylesheet" href="/editor.css" media="screen,projection"/>
  <link rel="stylesheet" href="/datepicker/react-datepicker.min.css" media="screen,projection"/>
  <link rel="stylesheet" href="/datepicker/react-datepicker-cssmodules.min.css" media="screen,projection"/>
  <script src="/cfg.js"></script>
  <script src="/jquery/jquery.min.js"></script>
</head>
<body style="margin:0;height:100%">
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root" style="width:100%;height:100%;max-height:100%"></div>
<script type="text/javascript" src="/static/js/main.31031426.js"></script>
</body>
</html>