<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>Sedna - Build a website for best features</title>
  <meta name="description" content="4d">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32"/>
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16"/>
  <link rel="stylesheet" href="css/normalize.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/jquery.fancybox.css">
  <link rel="stylesheet" href="css/flexslider.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/queries.css">
  <link rel="stylesheet" href="css/etline-font.css">
  <link rel="stylesheet" href="bower_components/animate.css/animate.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body id="top">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://google.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->
<section class="hero">
  <section class="navigation">
    <header>
      <div class="header-content">
        <div class="logo"><a href="#"><img src="img/sedna-logo.png" alt="Sedna logo例"></a></div>
        <div class="header-nav">
          <nav>
            <ul class="primary-nav">
              <li><a href="#features"></a></li>


            </ul>
            <ul class="member-actions">
              <li><a href="#download" class="login">Log in</a></li>

            </ul>
          </nav>
        </div>
        <div class="navicon">
          <a class="nav-toggle" href="#"><span></span></a>
        </div>
      </div>
    </header>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="hero-content text-center">
          <h1>Design, collaborate, win!</h1>
          <p class="intro">Introducing “Sedna”. We will design & developed exclusively for you.</p>
          <a href="#download" class="btn btn-fill btn-large btn-margin-right">Download</a> <a href="#download"
                                                                                              class="btn btn-accent btn-large">Login</a>
        </div>
      </div>
    </div>
  </div>
  <div class="down-arrow floating-arrow"><a href="#"><i class="fa fa-angle-down"></i></a></div>
</section>


<section class="sign-up section-padding text-center" id="download">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3"><p> Please login to access </p>

        <!--<form id="form1" class="signup-form" action="http://35.198.242.147/api/login" method="POST" role="form">-->
        <form id="form1" class="signup-form" action="http://localhost/api/login" method="POST" role="form">
          <div class="form-input-group">
            <i class="fa fa-envelope"></i><input type="text" id="username" class="" name="username"
                                                 placeholder="Enter your id or username" required>
          </div>
          <div class="form-input-group">
            <i class="fa fa-lock"></i><input type="password" id="password" class="" name="password"
                                             placeholder="Enter your password" required>
          </div>
          <button type="submit" class="btn-fill sign-up-btn">Login for free</button>
        </form>
      </div>
    </div>
  </div>
</section>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
<script src="bower_components/retina.js/dist/retina.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script src="bower_components/classie/classie.js"></script>
<script src="bower_components/jquery-waypoints/lib/jquery.waypoints.min.js"></script>
<script>
  $('#form1').on('submit', function (e) {
    console.log('this==>', this);
    var username = $('#username').val(),
      password = $('#password').val();

    $.ajax({
      "async": true,
      "crossDomain": true,
      "url": "/api/login",
      "method": "POST",
      "headers": {
        "Content-Type": "application/x-www-form-urlencoded",
        "Cache-Control": "no-cache",
      },
      "data": {
        "username": username,
        "password": password
      }
    }).done(function (response, response2) {
      window.location.reload();
    }).fail(function (e) {
      if (e.responseJSON && e.responseJSON.e) {
        alert(e.responseJSON.e);
      }
    });
    return false;
  });
</script>
</body>
</html>